<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
<div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-sky-100 dark:bg-transparent">
<div class="flex-1 min-w-0">
    <!-- Title -->
    <div class="mt-2">
        <h2 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
            Skill Catalog
        </h2>
        Catalog_State: {{this.catmodel.currentArea}} | {{this.catmodel.currentCategory}} | {{this.catmodel.currentSkill}}
    </div>
</div>
<!-- Actions -->
<div class="flex shrink-0 items-center mt-3">

    <div [hidden]="!showadditem">
        <button  
            (click)="onHideAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
            class="ml-4"
            mat-stroked-button
            type="button"
            [color]="'primary'">
            Cancel
        </button>
    </div>
    <button  
        (click)="onShowAddForm(tabTitle);"
        [disabled]="showadditem"
        class="ml-4"
        mat-flat-button
        type="button"
        [color]="'primary'">
        Add Custom {{tabTitle}}
    </button>
</div>
</div>

<!-- Main -->
<div class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-card bg-slate-50">

<!-- CONTENT GOES HERE -->
<div class="h-400 min-h-400 max-h-400">

    <!-- Add Form -->
    <div [hidden]="!showadditem">
        <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
            <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-5">
                Add Custom {{tabTitle}}
            </h2>
            <form #addItemForm="ngForm">
                <div class="form-group">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>{{tabTitle}} Name</mat-label>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_outline:clipboard-list'"
                            matPrefix></mat-icon>
                            <input type="text"
                            id="name" 
                            class="form-control" 
                            #name="ngModel"
                            [(ngModel)]="model.name" 
                            name="name"
                            required
                            matInput>
                    </mat-form-field>

                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <span style="color:red;">Name is required</span>
                    </div>
                    </div>

                    <!-- Spacer -->
                    <div class="mt-5"></div>
                    <div class="form-group">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Description</mat-label>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_outline:annotation'"
                            matPrefix></mat-icon>
                            <textarea type="text"
                            id="description" 
                            class="form-control" 
                            #name="ngModel"
                            [(ngModel)]="model.description" 
                            name="description"
                            matInput>
                            </textarea>
                    </mat-form-field>
                    </div>
    
                    <!-- Spacer -->
                    <div class="mt-5"></div>

                    <!-- Actions -->
                    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                        <button  
                            (click)="onHideAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                            class="ml-4"
                            mat-stroked-button
                            type="button"
                            [color]="'primary'">
                            Cancel
                        </button>

                        <button  
                            (click)="onAdd(); addItemForm.resetForm(); editItemForm.resetForm();"
                            [disabled]="!addItemForm.form.valid" 
                            class="ml-4"
                            mat-flat-button
                            type="button"
                            [color]="'primary'">
                            Submit {{tabTitle}}
                        </button>
        
                    </div>

                </form>
        </fuse-card>

    </div>

    <!-- Edit Form -->
    <div [hidden]="!showedititem">
        <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
            <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-5">
                Edit Custom {{tabTitle}}
            </h2>

            <form #editItemForm="ngForm">
                <div class="form-group">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>{{tabTitle}} Name</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_outline:clipboard-list'"
                        matPrefix></mat-icon>
                        <input type="text"
                        id="name" 
                        class="form-control" 
                        #name="ngModel"
                        [(ngModel)]="model.name" 
                        name="name"
                        required
                        matInput>
                </mat-form-field>

                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <span style="color:red;">Name is required</span>
                </div>
                </div>

                <!-- Spacer -->
                <div class="mt-5"></div>

                <div class="form-group">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Description</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_outline:annotation'"
                        matPrefix></mat-icon>
                        <textarea type="text"
                        id="description" 
                        class="form-control" 
                        #name="ngModel"
                        [(ngModel)]="model.description" 
                        name="description"
                        matInput>
                        </textarea>
                </mat-form-field>
                </div>

                <!-- Spacer -->
                <div class="mt-5"></div>

                <!-- Actions -->
                <div class="flex shrink-0 items-center mt-3 sm:mt-0 sm:ml-4">

                    <button  
                        (click)="onHideEditForm(); editItemForm.resetForm(); addItemForm.resetForm()"
                        class="ml-4"
                        mat-stroked-button
                        type="button"
                        [color]="'primary'">
                        Cancel
                    </button>

                    <button  
                        (click)="onEdit(model.key); editItemForm.resetForm(); addItemForm.resetForm()"
                        [disabled]="!editItemForm.form.valid" 
                        class="ml-4"
                        mat-flat-button
                        type="button"
                        [color]="'primary'">
                        Accept Edits
                    </button>
    
                </div>

                <div class="float-right text-right mt-3">
                    <button mat-mini-fab color="warn" matTooltip="delete" class="mt-2" (click)="openConfirmationDialog(model.key)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </form>

        </fuse-card>

    </div>

    <!-- SELECTOR WRAPPER -->
    <div class="container mx-auto sm:max-w-[500px] md:max-w-[600px] lg:max-w-[700px] xl:max-w-[800px] " [hidden]="showadditem||showedititem">


        <!-- SELECTOR TITLE -->
        <div class="flex items-center h-15">

            <a (click)="goback()">
            <div *ngIf="selectedIndex!==0" class="pt-1">
                <mat-icon style="font-size:25px; height:25px; width:25px;" svgIcon="mat_solid:arrow_back"></mat-icon>
            </div>
            </a>

            <div class="flex-1 text-1xl p-2 mr-20 sm:text-2xl md:text-2xl lg:text-3xl font-extrabold text-center tracking-tight">
                Select {{tabTitle}}
            </div>

        </div>

        <!-- TAB GROUP WRAPPER -->
        
        <div class="">

            <mat-tab-group preserveContent class="h-[calc(100vh-360px)] min-h-50 overflow-scroll" [(selectedIndex)]=selectedIndex>

                <!--Areas Tab-->
                <mat-tab label="Areas">
                    
                    <!--Repeat for Each Area-->
                    <span *ngFor="let area of (areas | async)" >

                        <div class="flex">
                            <div class="flex-none">
                                <button mat-icon-button color="default" matTooltip="edit" class="mr-5" (click)="onShowEditForm(area.key);">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button mat-icon-button color="default" matTooltip="edit" class="mr-5" (click)="onHideItem(area.key);">
                                    <mat-icon [svgIcon]="'heroicons_outline:eye-off'"></mat-icon>
                                  </button>
                            </div> 
                            <a (click)="onAreaSelect(area.key)">
                                <div class="flex items-center py-3 px-5 border-t-2 border-slate-100 hover:bg-slate-100 w-full">
                           
                                    <div class="flex-1 w-100"> {{ area.payload.val().name }}</div>
                                        <div class="flex-none pt-1">
                                            <mat-icon svgIcon="mat_solid:chevron_right"></mat-icon>
                                        </div>  
                                </div>
                            </a>
                        </div>
                    
                    </span>
                    
                    <!--Bottom Division Line-->
                    <div class="flex items-center py-4 px-5 border-t-2 border-slate-100">
                        <div class="flex-1"></div>
                    </div>

                </mat-tab>

                <!--Categories Tab-->
                <mat-tab label="Catagories">

                    <!--Repeat for Each Category-->
                    <span *ngFor="let category of categories" >

                        <div class="flex">
                            <div class="flex-none">
                                <button mat-icon-button color="default" matTooltip="edit" class="mr-5" (click)="onShowEditForm(category.key);">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button mat-icon-button color="default" matTooltip="edit" class="mr-5" (click)="onHideItem(category.key);">
                                    <mat-icon [svgIcon]="'heroicons_outline:eye-off'"></mat-icon>
                                  </button>
                            </div> 
                            <a (click)="onCategorySelect(category.key)">
                                <div class="flex items-center py-3 px-5 border-t-2 border-slate-100 hover:bg-slate-100 w-full">
                           
                                    <div class="flex-1 w-100"> {{ category.payload.val().name }}</div>
                                        <div class="flex-none pt-1">
                                            <mat-icon svgIcon="mat_solid:chevron_right"></mat-icon>
                                        </div>  
                                </div>
                            </a>
                        </div>
                    
                    </span>
                        
                    <!--Bottom Division Line-->
                    <div class="flex items-center py-4 px-5 border-t-2 border-slate-100">
                        <div class="flex-1"></div>
                    </div>

                </mat-tab>

                <!--Skills Tab-->
                <mat-tab label="Skills">

                    <!--Repeat for Each Skill-->
                    <span *ngFor="let skill of skills" >

                        <div class="flex">
                            <div class="flex-none">
                                <button mat-icon-button color="default" matTooltip="edit" class="mr-5" (click)="onShowEditForm(skill.key);">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button mat-icon-button color="default" matTooltip="edit" class="mr-5" (click)="onHideItem(skill.key);">
                                    <mat-icon [svgIcon]="'heroicons_outline:eye-off'"></mat-icon>
                                  </button>
                            </div> 
                            <a (click)="selectSkill(skill.key)">
                                <div class="flex items-center py-3 px-5 border-t-2 border-slate-100 hover:bg-slate-100 w-full">
                           
                                    <div class="flex-1 w-100"> {{ skill.payload.val().name }}</div>
                                        <div class="flex-none pt-1">
                                            <mat-icon svgIcon="mat_solid:chevron_right"></mat-icon>
                                        </div>  
                                </div>
                            </a>
                        </div>
                    
                    </span>

                    <!--Bottom Division Line-->
                    <div class="flex items-center py-4 px-5 border-t-2 border-slate-100">
                        <div class="flex-1"></div>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    
    </div>
    

</div>



</div>

</div>