<div class="flex flex-col flex-auto items-center bg-[url('assets/images/backgrounds/bg-clouds.png')] justify-center min-w-0 md:p-8">
    
    <div class="flex md:w-full md:max-w-6xl rounded-2xl shadow overflow-hidden bg-card">
        
        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16">
            
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <!-- Logo -->
                <div class="w-40 m-auto">
                    <img src="assets/images/logo/logo-square.svg">
                </div>

                <!-- Title -->
                <div class="mt-8 ml-8 text-3xl font-extrabold tracking-tight leading-tight">Sign in to SkillResults</div>

                <!-- Alert -->
                <fuse-alert
                    class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
                
                <!-- Separator -->
                <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary">Sign In with your Work Email</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div>

                <!-- Single sign-on buttons -->
                <div class="flex items-center mt-8 space-x-4">


                    <!-- Microsoft SSO Button -->
                    <button class="flex-auto p-5" mat-stroked-button (click)="signInSSOmicrosoft()">
                        <mat-icon class="icon-size-5" [svgIcon]="'feather:grid'"></mat-icon>
                        <span style="margin-left: 10px;">Microsoft / Office365 Single Sign On</span>
                    </button>
                    
                </div>



            </div>
        </div>
        
        
        
        
        
        
        <div class="relative hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
            <!-- Background - @formatter:off -->
            <!-- Rings -->
            <svg class="absolute inset-0 pointer-events-none"
                 viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            
            <!-- Dots -->
            <svg class="absolute -top-16 -right-16 text-gray-700"
                 viewBox="0 0 220 192" width="220" height="192" fill="none">
                <defs>
                    <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
            </svg>
            
            <!-- @formatter:on -->
            <!-- Content -->
            <div class="z-10 relative w-full max-w-2xl">
                <div class="text-7xl font-bold leading-none text-gray-100">
                    <div>Welcome to</div>
                    <div>SkillResults!</div>
                </div>
                <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                    SkillResults helps organizations track skills, education, certifications and more. To sign in, please use your Microsoft Office365 work email and password.
                </div>
                
                <div class="mt-6 text-lg tracking-tight leading-6 text-blue-400">
                    If you organizaation has not yet signed up for SkillResults, please go <a href="https:/skillresults.com">HERE</a> to get started. 
                </div>
            </div>
        </div>
    </div>
</div>
