<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-sky-100 dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Professional Training
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-3">

            <div [hidden]="!showadditem">
                <button  
                    (click)="onHideAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                    class="ml-4"
                    mat-stroked-button
                    type="button"
                    [color]="'primary'">
                    Cancel
                </button>
            </div>
            <button  
                (click)="onShowAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                [disabled]="showadditem"
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">
                Add Training
            </button>
        </div>
    </div>


    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-card bg-slate-50">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400">

            <!-- Add Form -->
            <div [hidden]="!showadditem">
                <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
                    <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-5">
                        Add Professional Training
                    </h2>

                    <form #addItemForm="ngForm">
                        <div class="form-group">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Training Name</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'feather:award'"
                                matPrefix></mat-icon>
                                <input type="text"
                                id="name" 
                                class="form-control" 
                                #name="ngModel"
                                [(ngModel)]="model.name" 
                                name="name"
                                required
                                matInput>
                        </mat-form-field>

                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            <span style="color:red;">Name is required</span>
                        </div>
                        </div>

                        <!-- Spacer -->
                        <div class="mt-5"></div>

                        <div class="form-group">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Description</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_outline:annotation'"
                                matPrefix></mat-icon>
                                <textarea type="text"
                                id="description" 
                                class="form-control" 
                                #name="ngModel"
                                placeholder="optional"
                                [(ngModel)]="model.description" 
                                name="description"
                                matInput>
                                </textarea>
                        </mat-form-field>
                        </div>

                        <!-- Spacer -->
                        <div class="mt-5"></div>

                        <div class="form-group">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Awarded By</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'feather:users'"
                                    matPrefix></mat-icon>
                                    <input type="text"
                                    id="awardedby" 
                                    class="form-control" 
                                    #name="ngModel"
                                    placeholder="optional"
                                    [(ngModel)]="model.awardedby" 
                                    name="awardedby"
                                    matInput>
                            </mat-form-field>
        
                        </div>
        
                        <!-- Spacer -->
                        <div class="mt-5"></div>

                        <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Date Completed</mat-label>
                            <input matInput [matDatepicker]="addpicker" 
                            (dateChange)="onDateChange($event, addpicker)"
                            name="awardedon"  
                            id="awardedon"
                            class="form-control">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="addpicker"></mat-datepicker-toggle>
                            <mat-datepicker #addpicker startView="year"></mat-datepicker>
                        </mat-form-field>
                        </div>

                        <!-- Spacer -->
                        <div class="mt-5"></div>

                        <!-- Actions -->
                        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                            <button  
                                (click)="onHideAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                                class="ml-4"
                                mat-stroked-button
                                type="button"
                                [color]="'primary'">
                                Cancel
                            </button>

                            <button  
                                (click)="onAdd(); addItemForm.resetForm(); editItemForm.resetForm();"
                                [disabled]="!addItemForm.form.valid" 
                                class="ml-4"
                                mat-flat-button
                                type="button"
                                [color]="'primary'">
                                Submit Training
                            </button>
            
                        </div>

                    </form>
                
                </fuse-card>

            </div>

            <!-- Edit Form -->
            <div [hidden]="!showedititem">
                <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
                    <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-5">
                        Edit Professional Training
                    </h2>

                    <form #editItemForm="ngForm">
                        <div class="form-group">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Training Name</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'feather:award'"
                                matPrefix></mat-icon>
                                <input type="text"
                                id="name" 
                                class="form-control" 
                                #name="ngModel"
                                [(ngModel)]="model.name" 
                                name="name"
                                required
                                matInput>
                        </mat-form-field>

                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            <span style="color:red;">Name is required</span>
                        </div>
                        </div>

                        <!-- Spacer -->
                        <div class="mt-5"></div>

                        <div class="form-group">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Description</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_outline:annotation'"
                                matPrefix></mat-icon>
                                <textarea type="text"
                                id="description" 
                                class="form-control" 
                                #name="ngModel"
                                placeholder="optional"
                                [(ngModel)]="model.description" 
                                name="description"
                                matInput>
                                </textarea>
                        </mat-form-field>
                        </div>

                        <!-- Spacer -->
                        <div class="mt-5"></div>

                        <div class="form-group">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Awarded By</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'feather:users'"
                                    matPrefix></mat-icon>
                                    <input type="text"
                                    id="awardedby" 
                                    class="form-control" 
                                    #name="ngModel"
                                    placeholder="optional"
                                    [(ngModel)]="model.awardedby" 
                                    name="awardedby"
                                    matInput>
                            </mat-form-field>
        
                        </div>
        
                        <!-- Spacer -->
                        <div class="mt-5"></div>
                        
                        <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Date Completed {{model.awardedon| date: 'MM/dd/yyyy'}}</mat-label>
                            <input matInput [matDatepicker]="editpicker" 
                            (dateChange)="onDateChange($event, editpicker)"
                            name="awardedon"  
                            id="awardedon"
                            class="form-control">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="editpicker"></mat-datepicker-toggle>
                            <mat-datepicker #editpicker startView="year"></mat-datepicker>
                        </mat-form-field>
                        </div>
                        
                        <div class="float-right text-right mt-3">
                        created:{{model.created | date: 'MM/dd/yy h:mm a'}}
                        <br />
                        modified:{{model.modified | date: 'MM/dd/yy h:mm a'}}
                        </div>

                        <!-- Spacer -->
                        <div class="mt-5"></div>

                        <!-- Actions -->
                        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                            <button  
                                (click)="onHideEditForm(); editItemForm.resetForm(); addItemForm.resetForm()"
                                class="ml-4"
                                mat-stroked-button
                                type="button"
                                [color]="'primary'">
                                Cancel
                            </button>

                            <button  
                                (click)="onEdit(model.key); editItemForm.resetForm(); addItemForm.resetForm()"
                                [disabled]="!editItemForm.form.valid" 
                                class="ml-4"
                                mat-flat-button
                                type="button"
                                [color]="'primary'">
                                Accept Edits
                            </button>
            
                        </div>

                    </form>
                    
                </fuse-card>

            </div>


            <!-- Table View -->
            <table mat-table [dataSource]="items | async" class="mat-elevation-z8 w-full" [hidden]="showadditem||showedititem">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let item"> {{item.payload.val().name}} </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Desription </th>
                    <td mat-cell *matCellDef="let item"> {{item.payload.val().description}} </td>
                </ng-container>

                <!-- Created Column -->
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef> Created </th>
                    <td mat-cell *matCellDef="let item"> {{item.payload.val().created | date: 'MM/dd/yy h:mm a'}} </td>
                </ng-container>

                <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell  *matHeaderCellDef > </th>
                    <td mat-cell *matCellDef="let item" >
                        <button mat-mini-fab color="warn" matTooltip="delete" class="mr-2" (click)="openConfirmationDialog(item.key)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                  </ng-container>

                <!-- Edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell  *matHeaderCellDef > </th>
                    <td mat-cell *matCellDef="let item" >
                        <button mat-mini-fab color="basic" matTooltip="edit" (click)="onShowEditForm(item.key)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- Spacer -->
            <div class="mt-10"></div>

            <!-- Card View -->
            <div class="flex flex-wrap items-center">
                <div [hidden]="showadditem||showedititem">
                    <div class="w-2/4 sm:w-100 mb-5">
                        List your professional traning that help strengthen your abilities.
                    </div>

                    <h2 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Card View
                        </h2>  
                        <hr class="w-full border-t my-6">
                    <div class="flex flex-wrap items-center mt-6 sm:mt-0 sm:ml-4">
                
                        <div *ngFor="let item of items | async">
                            <!-- Card #38 -->
                            <fuse-card class="flex flex-col max-w-80 w-full p-8 filter-info mb-3">
                                <div class="text-2xl font-semibold leading-tight">{{item.payload.val().name}}</div>
                                <div class="mt-4">
                                    {{item.payload.val().description}}
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon
                                        matTooltip="awarded"
                                        class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                    <span class="leading-none">{{item.payload.val().awardedon | date: 'MM/dd/yy'}}</span>
                                    
                                </div>
                                <hr class="w-full border-t my-6">
                                <div class="flex flex-col">
    
                                    <div class="flex items-center mt-4">
                                        <mat-icon
                                            matTooltip="created"
                                            class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                        <span class="leading-none">{{item.payload.val().created | date: 'MM/dd/yy h:mm a'}}</span>                                       
                                    </div>
                                </div>
                                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
    
                                    <button mat-mini-fab color="warn" matTooltip="delete" class="mt-8 mr-2" (click)="openConfirmationDialog(item.key)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    
                                    <button mat-mini-fab color="basic" matTooltip="edit" class="mt-8" (click)="onShowEditForm(item.key)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>
                                                        
                            </fuse-card>
                        </div>
    
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>