<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-sky-100 dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Positions
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-3">

            <div [hidden]="!showadditem">
                <button  
                    (click)="onHideAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                    class="ml-4"
                    mat-stroked-button
                    type="button"
                    [color]="'primary'">
                    Cancel
                </button>
            </div>
            <button  
                (click)="onShowAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                [disabled]="showadditem"
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">
                Add Position
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-card">

    <!-- CONTENT GOES HERE -->
    <div class="h-400 min-h-400 max-h-400">



                <!-- Add Form -->
                <div [hidden]="!showadditem">
                    <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
                        <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-5">
                            Add Position
                        </h2>

                        <form #addItemForm="ngForm">

                            <div class="form-group">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Position Name</mat-label>
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'feather:user-plus'"
                                        matPrefix></mat-icon>
                                        <input type="text"
                                        id="name" 
                                        class="form-control" 
                                        #name="ngModel"
                                        [(ngModel)]="model.name" 
                                        name="name"
                                        required
                                        matInput>
                                </mat-form-field>
        
                                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                    <span style="color:red;">Name is required</span>
                                </div>
                            </div>
        
                                <!-- Spacer -->
                                <div class="mt-5"></div>

                                <mat-form-field class="fuse-mat-no-subscript w-2/4 sm:w-100">
                                    <mat-label>Reports To (email address)</mat-label>
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'feather:user-check'"
                                        matPrefix></mat-icon>
                                        <input type="email"
                                        [class.is-invalid] = "emailRefreportsto.invalid && emailRefreportsto.touched"
                                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                                        #emailRefreportsto="ngModel"
                                        id="reportsto" 
                                        class="form-control" 
                                        #name="ngModel"
                                        [(ngModel)]="model.reportsto" 
                                        name="reportsto"
                                        placeholder="optional"
                                        matInput>
                                </mat-form-field>

                                <div *ngIf="(emailRefreportsto.invalid && emailRefreportsto.touched) || emailRefreportsto.dirty">
                                    <span style="color:red;" *ngIf="emailRefreportsto.errors?.required">Email address is required</span>
                                    <span style="color:red;" *ngIf="emailRefreportsto.errors?.pattern">Email address is invalid</span>
                                </div>

                                <!-- Spacer -->
                                <div class="mt-5"></div>
        
                                <div class="form-group">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Description</mat-label>
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_outline:annotation'"
                                        matPrefix></mat-icon>
                                        <textarea type="text"
                                        id="description" 
                                        class="form-control" 
                                        #name="ngModel"
                                        placeholder="optional"
                                        [(ngModel)]="model.description" 
                                        name="description"
                                        matInput>
                                        </textarea>
                                    </mat-form-field>
                                </div>

                            <!-- Spacer -->
                            <div class="mt-10"></div>

                            <mat-checkbox      
                            [checked]= "model.compensation"
                            name="poscomp"
                            id="poscomp"
                            class="form-control"
                            (change)="onCompensationChecked($event)">Show Compensation Range</mat-checkbox>

                            <!-- Spacer -->
                            <div class="mt-5"></div>

                            <div [hidden]="!showcompensation">
                                <mat-form-field class="fuse-mat-no-subscript w-2/4">
                                    <mat-label>Lower</mat-label>
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'feather:trending-down'"
                                        matPrefix></mat-icon>
                                        <input type="text"
                                        id="complower" 
                                        class="form-control" 
                                        #name="ngModel"
                                        [(ngModel)]="model.complower" 
                                        name="complower"
                                        placeholder="optional"
                                        matInput>
                                </mat-form-field>

                                <mat-form-field class="fuse-mat-no-subscript w-2/4">
                                    <mat-label>Upper</mat-label>
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'feather:trending-up'"
                                        matPrefix></mat-icon>
                                        <input type="text"
                                        id="compupper" 
                                        class="form-control" 
                                        #name="ngModel"
                                        [(ngModel)]="model.compupper" 
                                        name="compupper"
                                        placeholder="optional"
                                        matInput>
                                </mat-form-field>
                            </div>

                             <!-- Spacer -->
                             <div class="mt-10"></div>

                             <mat-checkbox      
                             [checked]= "model.filled"
                             name="posfilled"
                             id="posfilled"
                             class="form-control"
                             (change)="onFilledChecked($event)">Filled</mat-checkbox>

                             <mat-form-field class="fuse-mat-no-subscript w-2/4 ml-10">
                                <mat-label>Held By</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'mat_outline:assignment_ind'"
                                    matPrefix></mat-icon>
                                    <input type="email"
                                    [class.is-invalid] = "emailRefheldby.invalid && emailRefheldby.touched"
                                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                                    #emailRefheldby="ngModel"
                                    id="heldby" 
                                    class="form-control" 
                                    #name="ngModel"
                                    [(ngModel)]="model.heldby" 
                                    name="heldby"
                                    placeholder="optional"
                                    [disabled]="!positionfilled"
                                    matInput>
                            </mat-form-field>

                            <div *ngIf="(emailRefheldby.invalid && emailRefheldby.touched) || emailRefheldby.dirty">
                                <span style="color:red;" *ngIf="emailRefheldby.errors?.required">Email address is required</span>
                                <span style="color:red;" *ngIf="emailRefheldby.errors?.pattern">Email address is invalid</span>
                            </div>

                            <!-- Spacer -->
                            <div class="mt-10"></div>  

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Degrees
                            </h3>
                            Degree Level, Degree Type, Field Checkbox: or similar field <br />
                            Checkboxes: Required/Preferred/Equivilent Experience

                            <!-- Spacer -->
                            <div class="mt-5"></div>         

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Certifications/Licenses
                            </h3>
                            Checkboxes: Required/Preferred/Willing to get

                            <!-- Spacer -->
                            <div class="mt-5"></div>

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Training
                            </h3>

                            Checkboxes: Required/Preferred/Willing to take

                            <!-- Spacer -->
                            <div class="mt-5"></div>

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Skills
                            </h3>
                            Custom Proficiency Labels<br />
                            Checboxes: Required/Preferred

                            <!-- Spacer -->
                            <div class="mt-5"></div>

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Duties
                            </h3>
                            Enter new or select autocomplete from previous 

                            <!-- Spacer -->
                            <div class="mt-10"></div>

                            <!-- Actions -->
                            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                                <button  
                                    (click)="onHideAddForm(); addItemForm.resetForm(); editItemForm.resetForm();"
                                    class="ml-4"
                                    mat-stroked-button
                                    type="button"
                                    [color]="'primary'">
                                    Cancel
                                </button>

                                <button  
                                    (click)="onAdd(); addItemForm.resetForm(); editItemForm.resetForm();"
                                    [disabled]="!addItemForm.form.valid" 
                                    class="ml-4"
                                    mat-flat-button
                                    type="button"
                                    [color]="'primary'">
                                    Submit Position
                                </button>
                
                            </div>

                        </form>
                    
                    </fuse-card>

                </div>

                <!-- Edit Form -->
                <div [hidden]="!showedititem">
                    <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
                        <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-5">
                            Edit Position
                        </h2>

                        <form #editItemForm="ngForm">

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Degrees
                            </h3>
                            Degree Level, Degree Type, Field Checkbox: or similar field <br />
                            Checkboxes: Required/Preferred/Equivilent Experience

                            <!-- Spacer -->
                            <div class="mt-5"></div>         

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Certifications/Licenses
                            </h3>
                            Checkboxes: Required/Preferred/Willing to get

                            <!-- Spacer -->
                            <div class="mt-5"></div>

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Training
                            </h3>

                            Checkboxes: Required/Preferred/Willing to take

                            <!-- Spacer -->
                            <div class="mt-5"></div>

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Skills
                            </h3>
                            Custom Proficiency Labels<br />
                            Checboxes: Required/Preferred

                            <!-- Spacer -->
                            <div class="mt-5"></div>

                            <h3 class="text-lg md:text-lg font-extrabold tracking-tight leading-7 sm:leading-10 truncate mb-2">
                                Duties
                            </h3>
                            Enter new or select autocomplete from previous 


                            <!-- Spacer -->
                            <div class="mt-5"></div>

                            <!-- Actions -->
                            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                                <button  
                                    (click)="onHideEditForm(); editItemForm.resetForm(); addItemForm.resetForm()"
                                    class="ml-4"
                                    mat-stroked-button
                                    type="button"
                                    [color]="'primary'">
                                    Cancel
                                </button>

                                <button  
                                    (click)="onEdit(model.key); editItemForm.resetForm(); addItemForm.resetForm()"
                                    [disabled]="!editItemForm.form.valid" 
                                    class="ml-4"
                                    mat-flat-button
                                    type="button"
                                    [color]="'primary'">
                                    Accept Edits
                                </button>
                
                            </div>

                        </form>
                        
                    </fuse-card>

                </div>

            <!-- Table View -->
            <table mat-table [dataSource]="items | async" class="mat-elevation-z8 w-full" [hidden]="showadditem||showedititem">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let item"> {{item.payload.val().name}} </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Desription </th>
                    <td mat-cell *matCellDef="let item"> {{item.payload.val().description}} </td>
                </ng-container>

                <!-- Created Column -->
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef> Created </th>
                    <td mat-cell *matCellDef="let item"> {{item.payload.val().created | date: 'MM/dd/yy h:mm a'}} </td>
                </ng-container>

                <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell  *matHeaderCellDef > </th>
                    <td mat-cell *matCellDef="let item" >
                        <button mat-mini-fab color="warn" matTooltip="delete" class="mr-2" (click)="openConfirmationDialog(item.key)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                  </ng-container>

                <!-- Edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell  *matHeaderCellDef > </th>
                    <td mat-cell *matCellDef="let item" >
                        <button mat-mini-fab color="basic" matTooltip="edit" (click)="onShowEditForm(item.key)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>





    </div>

</div>


