<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

            <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-sky-100 dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Home</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <a class="ml-1 text-primary-500">Public Profile</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">Overview</span>
                    </div>
                </div>

            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Public Profile
                </h2>
            </div>
        </div>
    </div>


    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-card bg-slate-50">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400">


            {{user?.name}}
            <br />
            {{user?.email}}
            <br />

           <!-- Skills -->
           <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
            <strong>Skills:</strong>
            <div *ngFor="let skill of (user?.skills | keyvalue)">
                {{user?.skills[skill.key]?.name}} <br />
                {{user?.skills[skill.key]?.rating}} <br />
                {{user?.skills[skill.key]?.created | date: 'MM/dd/yyyy' }} <br />
                {{user?.skills[skill.key]?.modified | date: 'MM/dd/yyyy' }} <br />
                <hr />
            </div>
           </fuse-card>

           <!-- Wishlists -->
           <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
            <strong>Wishlists:</strong>
            <div *ngFor="let wishlist of (user?.wishlists | keyvalue)">
                {{user?.wishlists[wishlist.key]?.name}} <br />
                {{user?.wishlists[wishlist.key]?.rating}} <br />
                {{user?.wishlists[wishlist.key]?.priority}} <br />
                {{user?.wishlists[wishlist.key]?.created | date: 'MM/dd/yyyy' }} <br />
                {{user?.wishlists[wishlist.key]?.modified | date: 'MM/dd/yyyy' }} <br />
                <hr />
            </div>
           </fuse-card>

           <!-- Degrees -->
           <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
            <strong>Degrees</strong>
            <div *ngFor="let degree of (user?.degrees | keyvalue)">
                {{user?.degrees[degree.key]?.state}} <br />
                {{user?.degrees[degree.key]?.institution}} <br />
                {{user?.degrees[degree.key]?.degreelevel}} <br />
                {{user?.degrees[degree.key]?.degreetype}} <br />
                {{user?.degrees[degree.key]?.major}} <br />
                {{user?.degrees[degree.key]?.minor}}            
                {{user?.degrees[degree.key]?.completed}} <br />
                {{user?.degrees[degree.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                {{user?.degrees[degree.key]?.created | date: 'MM/dd/yyyy' }} <br />
                {{user?.degrees[degree.key]?.modifed | date: 'MM/dd/yyyy' }} <br />
                <hr />
            </div>
           </fuse-card>

           <!-- Certifications -->
           <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
            <strong>Certifications</strong>
            <div *ngFor="let certification of (user?.certifications | keyvalue)">
                {{user?.certifications[certification.key]?.name}} <br />
                {{user?.certifications[certification.key]?.description}} <br />
                {{user?.certifications[certification.key]?.awardedby}} <br />
                {{user?.certifications[certification.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                {{user?.certifications[certification.key]?.expireson | date: 'MM/dd/yyyy' }} <br />
                {{user?.certifications[certification.key]?.created | date: 'MM/dd/yyyy' }} <br />
                {{user?.certifications[certification.key]?.modifed | date: 'MM/dd/yyyy' }} <br />
                <hr />
            </div>
            </fuse-card>

           <!-- Training -->
           <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
            <strong>Training:</strong>
            <div *ngFor="let training of (user?.training| keyvalue)">
                {{user?.training[training.key]?.name}} <br />
                {{user?.training[training.key]?.description}} <br />
                {{user?.training[training.key]?.awardedby}} <br />
                {{user?.training[training.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                {{user?.training[training.key]?.created | date: 'MM/dd/yyyy' }} <br />
                {{user?.training[training.key]?.modified | date: 'MM/dd/yyyy' }} <br />
                <hr />
            </div>
            </fuse-card>

           <!-- Awards -->
           <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
            <strong>Awards:</strong>
            <div *ngFor="let award of (user?.awards | keyvalue)">
                {{user?.awards[award.key]?.name}} <br />
                {{user?.awards[award.key]?.description}} <br />
                {{user?.awards[award.key]?.awardedby}} <br />
                {{user?.awards[award.key]?.awardedon | date: 'MM/dd/yyyy' }} <br />
                {{user?.awards[award.key]?.created | date: 'MM/dd/yyyy' }} <br />
                {{user?.awards[award.key]?.modified | date: 'MM/dd/yyyy' }} <br />
                <hr />
            </div>
           </fuse-card>

           <!-- Talents -->
           <fuse-card class="flex flex-col w-full p-8 filter-info mb-3 drop-shadow-lg bg-orange-50">
            <strong>Talents:</strong>
            <div *ngFor="let talent of (user?.talents | keyvalue)">
                {{user?.talents[talent.key]?.name}} <br />
                {{user?.talents[talent.key]?.description}} <br />
                {{user?.talents[talent.key]?.created | date: 'MM/dd/yyyy' }} <br />
                {{user?.talents[talent.key]?.modified | date: 'MM/dd/yyyy' }} <br />
                <hr />
            </div>
           </fuse-card>

        </div>
        


    </div>

</div>